.form-element_input {
  padding-top: 0;
  padding-right: 1rem;
  padding-bottom: 0;
  padding-left: 0.75rem;
  width: 100%;
  min-height: calc(1.875rem + 2px);
  line-height: 1.875rem;
  border: 1px solid #c9c9c9;
  border-radius: 0.25rem;
  background-color: #fff;
  color: rgb(24, 24, 24);
  box-sizing: border-box;
}

.form-element_input:focus {
  border-color: #1b96ff;
  box-shadow: 0 0 3px #0176d3;
  outline: 0;
}
