*,
*::before,
*::after {
  box-sizing: border-box;
}

body, section, header, h1 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #d8e6fe;
}