.main {
  margin: 0px 35%
}

@media only screen and (max-width:768px) {
  .main {
    margin: 0px 15%
  } 
}

.flag-image {
  border-radius: .25rem;
  border: 1px solid #c9c9c9
}

.footer {
  position:fixed; bottom: 2px;
  color: #838383;
}

.center {
  margin-left: auto;
  margin-right: auto;
}